@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
    --main-title-color: hsl(14, 45%, 36%);
    --main-paragraf-color: hsl(30, 10%, 34%);
    --main-font-family-young: 'Young Serif', serif;
    --main-font-family-outfit: 'Outfit', sans-serif;
    --main-measure: 2%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* container */

.conteudo {
    background-color: hsl(0, 0%, 100%);
    width: 61vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    margin: 100px;
}

/* Main container */

.conteudo-principal {
    margin: 6%;
}

.conteudo-principal-imagem {
    width: 54vw;
    border-radius: 24px;
}

.conteudo-principal-informacao {
    margin-top: var(--main-measure);
    margin-bottom: var(--main-measure);
    border-bottom: solid 1px var(--main-paragrafo-color);
}

.titulo-principal {
    font-family: var(--main-font-family-young);
    font-weight: 400;
    font-size: 2.3rem;
}

.paragrafo {
    padding-top: var(--main-measure);
    font-family: var(--main-font-family-outfit);
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    color: var(--main-paragrafo-color);
}

.conteudo-principal-destaque {
    margin-top: var(--main-measure);
    width: 54vw;
    height: 170px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 24px;
}

/* Preparation time */

.titulo-destaque {
    color: hsl(332, 51%, 32%);
    font-family: var(--main-font-family-outfit);
    font-weight: 700;
    padding-left: var(--main-measure);
    padding-top: var(--main-measure);
}

.lista-destaque {
    padding-left: 6%;
    padding-top: 1%;
    font-family: var(--main-font-family-outfit);
    color: var(--main-paragrafo-color);
    font-size: 1rem;
    font-weight: 400;
}

.lista-destaque-espaco {
    line-height: 30px;
    padding-left: var(--main-measure);
}

/* Ingredients */

.conteudo-titulo-primario {
    color: var(--main-title-color);
    font-family: var(--main-font-family-young);
    font-weight: 400;
    font-size: 1.6rem;
    padding-top: var(--main-measure);
}

.lista-principal {
    padding-left: var(--main-measure);
    padding-top: var(--main-measure);
    padding-bottom: 40px;
    font-family: var(--main-font-family-outfit);
    color: var(--main-paragrafo-color);
    font-size: 1rem;
    font-weight: 400;
}

.lista-principal-espaco {
    line-height: 30px;
    padding-left: var(--main-measure);
}

/* Instructions */

.conteudo-secundario {
    border-bottom: solid 1px var(--main-paragrafo-color);
}

.conteudo-secundario-titulo {
    color: var(--main-title-color);
    font-family: var(--main-font-family-young);
    font-weight: 400;
    font-size: 1.6rem;
    padding-top: var(--main-measure);
}

.conteudo-secundario-lista {
    padding-left: var(--main-measure);
    padding-top: var(--main-measure);
    padding-bottom: 5%;
    font-family: var(--main-font-family-outfit);
    color: var(--main-paragrafo-color);
    font-size: 1rem;
    font-weight: 400;
}

.lista-secundaria-espaco {
    padding-bottom: 10px;
}

/* Nutrition */

.conteudo-terciario {
    padding-top: var(--main-measure);
    font-family: var(--main-font-family-outfit);
    color: var(--main-paragrafo-color);
    font-size: 1rem;
    font-weight: 400;
}

.item p {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nutriente {
    text-align: left;
    width: 45%;
}

.valor {
    text-align: right;
    color: var(--main-title-color);
    font-weight: 700;
}

.linha {
    color: hsl(30, 18%, 87%);
}



.conteudo-titulo-terciario {
    color: var(--main-title-color);
    font-family: var(--main-font-family-young);
    font-weight: 400;
    font-size: 1.6rem;
    padding-top: var(--main-measure);
    padding-bottom: var(--main-measure);
}

.logo-linkedin {
    width: 20px;
}
